/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background: url(img/შტადლერი.jpg) no-repeat center center fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

.container {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 80px auto;
    padding: 20px;
    max-width: 1050px;
}

  
h1, h2 {
    color: #184e77;
    font-weight: 600;
}

#train-name {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

#train-from, #train-to, #train-departure, #train-arrival, #train-date {
    color: #0b2d47;
    font-size: 25px;
    margin: 10px 0;
    width: fit-content;
}
#seat-select, #vagon-select {
    background: #184e77;
    border: none;
    border-radius: 9999px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    margin: 10px 0;
}

.seat-button {
    min-width: 110px ;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    cursor: pointer;
    border-radius: 5px;
}

.seat-button:hover {
    background-color: #ddd;
}

.seat-button.selected {
    background-color: #184e77;
    color: white;
}
label {
  color: #184e77;
  font-weight: 600;
  font-size: 20px;
}
#buy-btn {
  margin-top: 20px;
    padding: 10px 20px;
    background-color: #184e77;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

#buy-btn:hover {
    background-color: #2b6e2f;
}
#selected-seats-info {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
}

#seat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.gilaki {
  position: absolute;
  padding: 12px;
  width: 200px;
  margin-top: 2rem;
  border-radius: 29px;
  background: linear-gradient(145deg, #212121, #1c1c1c);
  box-shadow:  30px 30px 59px #101010,
           -30px -30px 59px #2e2e2e;
  margin-left: 20px;
}
.gilaki .bttn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}
.gilaki:hover {
  border-radius: 29px;
  background: linear-gradient(145deg, #184e77, #092337);
  box-shadow:  30px 30px 59px #082236,
               -30px -30px 59px #0d2131;
  color: #212121;
  margin-left: 40px;
  transition-duration: 1000ms;
}
